.item2{
    margin: 8px 8px 8px 8px;
    transition: transform 0.5s;
    }
    .item2:hover {
    transform: translateY(-7px);
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,1);
    }
    .c1{
       display: grid;
       grid-area: c1;
       margin: 8px 8px 8px 8px;
       background: #222327;
       grid-template-columns: 65px 170px 67px 55px;
       grid-template-rows: 35px 5px 65px 5px 65px;
       grid-template-areas: "s-pb valorb . vivo"
                            ". . . ."
                            "nj1b nj1b pj1b sj1b"
                            ". . . ."
                            "nj2b nj2b pj2b sj2b"
    }
    .nj1b{
    grid-area: nj1b;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 17px arial, sans-serif-medium, sans-serif;
    font-weight: 900;
    }
    .nj2b{
     grid-area: nj2b;
     display: flex;
     justify-content: center;
     align-items: center;
    font: 17px arial, sans-serif-medium, sans-serif;
    font-weight: 900;
    }
    .jogadorb{
    background: black;
    color: #F5F5F5;
    text-transform: uppercase;
    }
    .pj1b{
     grid-area: pj1b;
     display: flex;
    justify-content: center;
    align-items: center;
    background: #00ff00;
    /*box-shadow: 10px 5px 5px #90ee90;*/
    font: 45px arial, sans-serif-light, sans-serif;
    }
    .pj2b{
      grid-area: pj2b;
     display: flex;
    justify-content: center;
    align-items: center;
    background: #00ff00;
    /*box-shadow: -10px 5px 5px #90ee90;*/
    font: 45px arial, sans-serif-light, sans-serif;
    }
    .sj1b{
     grid-area: sj1b;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 26px arial, sans-serif-light, sans-serif;
    background: black;
    color: #F5F5F5;
    }
    .sj2b{
     grid-area: sj2b;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 26px arial, sans-serif-light, sans-serif;
    background: black;
    color: #F5F5F5;
    }
       .valorb{
       grid-area: valorb;
       display: flex;
       justify-content: left;
       align-items: center;
       color: #00ff00;
       font: 14px arial;
       font-weight: 900;
    }
       .s-pb{
        grid-area: s-pb;
        font: 12px arial;
        display: flex;
       justify-content: center;
       align-items: center;
       color: white;
       font-weight: 900;
    }
       .vivo{
     grid-area: vivo;
     display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 30px;
    font: 12px 'Oswald', sans-serif;
    font-weight: 900;
    letter-spacing: -1px;
    color: #fff;
    animation-name: co;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }
    @keyframes co{
      from {background: #222327;}
      to {background: red;}
    }